<div>
  <label for="allergies">
    Do you have any allergies?
    <select name="allergies" id="allergies">
      <option value="peanuts">Peanuts</option>
      <option value="treeNuts">Tree Nuts</option>
      <option value="lactose">Lactose</option>
      <option value="gluten">Gluten</option>
      <option value="shellfish">Shellfish</option>
      <option value="no">No</option>
    </select>
  </label>
</div>
<div>
  <label for="diet">
    Are you on a specific diet?
    <select name="diet" id="diet">
      <option value="paleo">Paleo</option>
      <option value="vegan">Vegan</option>
      <option value="vegetarian">Vegetarian</option>
      <option value="keto">Keto</option>
      <option value="calorieRestriced">Calorie Restricted</option>
      <option value="glutenFree">Gluten Free</option>
      <option value="no">No</option>
    </select>
  </label>
</div>