<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assests/styles/mainStyles.css" />

    <title>Newtrician</title>
    {{! <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script> }}
  </head>
  <header>Newtrician🌱</header>

    <aside id="rightAside">

      <card id="generateCard">
        <p>generate</p>
      </card>
    </aside>
    {{{body}}}
  </body>
</html>