
  <header id="header">
    <div id="headerDiv">
      <button class="headerBtn1"><a href="/preferences">Profile</a></button>
      <button class="headerBtn2"><a href="/myrecipes">My Recipes</a></button>

    </div>
  </header>
    <div id="asideDiv">
      <aside id="aside">
        <p id="asidePtag" class="animate-character">Create a recipe based on
          restrictions.</p>
      </aside>
            {{#if logged_in}}
        <a href="/preferences">Preferences</a>
        |
        <button class="no-button" id="logout">Logout</button>

      {{else}}
        <a class="LoginSignupCard" href="/login">Login</a>
        <a id="signupCard" href="/signup"> Sign Up</a>
      {{/if}}
    </div>
    <script src="/getRecipe"></script>