<div id="flexbox">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assests/styles/myRecipesPageStyles.css" />
    <title>my recipies</title>
  </head>
  <header id="header">
    <div id="headerDiv">
      <button class="headerBtn1">Home</button>
      <button class="headerBtn2">preferences</button>
    </div>
  </header>
  <body id="body">
    <div id="cardsDiv">
      <card id="changeDiet">
        <p>recipie 1</p>
      </card>
      <card id="changeAllergies">
        <p>recipie 2</p>
      </card>
      <card id="changePassword">
        <p>recipie 3</p>
      </card>
    </div>
    ​
  </body>
  <footer id="footer">
    <div id="footerDiv">
      <p>Thank you for using Newtricion🌱</p>
    </div>
  </footer>
</div>