<div id="flexbox">
  <header id="recipeHeader">
    <div id="headerDiv">
      <button class="headerBtn1">Home</button>
      <button class="headerBtn2">Preferences</button>
    </div>
  </header>
  <body id="body">
    <div id="cardsDiv">
      <card id="changeDietRecipe">
        <p>Recipe 1</p>
      </card>
      <card id="changeAllergiesRecipe">
        <p>Recipe 2</p>
      </card>
      <card id="changePasswordRecipe">
        <p>Recipe 3</p>
      </card>
    </div>
    ​
  </body>
  <footer id="recipeFooter">
    <div id="footerDiv">
      <p>Thank you for using Newtricious🌱</p>
    </div>
  </footer>
</div>