<div id="flexbox">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assests/styles/preferencePageStyles.css">
        <title>preferences</title>
    </head>
    <header id="header">
        <div id="headerDiv">
            <button class="headerBtn1">Home</button>
        <button class="headerBtn2">My Recipies</button>
        </div>
    </header>
    <body id="body">
    <div id="cardsDiv">
        <card id="changeDiet">
            <p>change diet</p>
        </card>
        <card id="changeAllergies">
            <p>change allergies</p>
        </card>
        <card id="changePassword">
            <p>change password</p>
        </card>
    </div>
    <div id="bouncyFruit">
        <card id="bounce">
​
        </card>
    </div>
    </body>
    <footer id="footer">
        <div id="footerDiv">
            <p>Thank you for using Newtricion🌱</p>
        </div>
    </footer>
</div>