<div id="flexbox">
    <header id="header">
        <div id="headerDiv">
            <button class="headerBtn1"><a href="/">Home</a></button>
        <button class="headerBtn2"><a href="/myrecipes">My Recipies</a></button>
        </div>
    </header>
    <body id="body">
    <div id="cardsDiv">
        <card id="changeDiet">
            <p>change diet</p>
        </card>
        <card id="changeAllergies">
            <p>change allergies</p>
        </card>
        <card id="changePassword">
            <p>change password</p>
        </card>
    </div>
    <div id="bouncyFruit">
        <card id="bounce">
​
        </card>
    </div>
    </body>
    <footer id="footer">
        <div id="footerDiv">
            <p>Thank you for using Newtritious🌱</p>
        </div>
    </footer>
</div>