<div>
  <label for="allergies">
    Do you have any of these allergies?
    <select name="allergies" id="allergies" multiple>
      {{#each allergy}}
        <option value="{{allergy}}">

        </option>
      {{/each}}
      <option value="no">No</option>
    </select>
  </label>
</div>
<div>
  <label for="diet">
    Are you on any of these diets?
    <select name="diet" id="diet" multiple>
      {{#each diet}}
        <option value="{{diet}}"></option>
      {{/each}}
      <option value="no">No</option>
    </select>
  </label>
</div>
<div>
  <label for="cuisine">
    What are your favorite types of cuisine?
    <select name="cuisine" id="cuisine" multiple>
      {{#each cuisine}}
        <option value="{{cuisine}}"></option>
      {{/each}}
    </select>
  </label>
</div>