<div>
  <label for="allergies">
    Do you have any allergies?
    <select name="allergies" id="allergies">
      {{#each allergy as |allergy|}}
      <option value="{{defaultValue}}"></option>
      {{/each}}
      <option value="no">No</option>
    </select>
  </label>
</div>
<div>
  <label for="diet">
    Are you on a specific diet?
    <select name="diet" id="diet">
      {{#each diet as|diet|}}
      <option value="{{defaultValue}}"></option>
      {{/each}}
      <option value="no">No</option>
    </select>
  </label>
</div>