

#aside {
    padding: 50px;
    display: block;
    width: 1000px;
    height: 1000px;
    background: rgb(165, 172, 166);
    float: left;
    background-image: url(./assets/images&icons/fruit.jpg)
};

#bodyDiv {display: flex
};

#rightDiv {
    display: block;
    width: fit-content;
    height: 20px;
    background: rgb(38, 49, 170);
    float: left;
}

#header {
    padding: 60px;
    text-align: right;
    background: #7adc84;
    color: white;
    font-size: 30px;
};

.headerBtn1 {
    background-color: #4CAF50;
}

#asidePtag {
    text-align: center;
    font-family: fantasy;
    font-size: 165px;
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 #0b532d, 2px -1px 0 #777777, -10px 10px 0 #99d587, 1px 1px 0 #0de7d8;
};

#rightAside {
    padding: 50px;
    display: block;
    width: 1000px;
    height: 1000px;
    background: rgb(235, 19, 19);
};


